html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: baseline;
  width: 100%;
  max-width: 80em;
  padding: 0 1em;
}

header label {
  margin-left: auto;
}
#selected-time,
#any-time {
  display: block;
}
#any-time {
  color: #888;
  font-style: italic;
}
#map {
  flex-grow: 1;
  min-height: 50vh;
  width: 100%;
  max-width: 80em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}
#map svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map svg circle {
  pointer-events: auto;
  fill-opacity: 0.6;
  fill: var(--color); 
  stroke: white; 
  stroke-width: 1px; 
}

.legend {
  display: flex;
  flex-direction: row;
  gap: 1px;
  width: 100%;
  max-width: 80em;
  margin-block: 1em;
}

.legend > div {
  flex: 1;
  padding: 0.5em 1.5em;
  border-radius: 3px;
  font-weight: bold;
  
  background-color: var(--color); 
  color: white; 
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); 
}

.legend > div[data-flow="departure"] {
    text-align: left;
}
.legend > div[data-flow="balanced"] {
    text-align: center;
}
.legend > div[data-flow="arrival"] {
    text-align: right;
}