html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#map {
  width: 100%; 
  height: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  position: relative;
}

#map svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

circle {
  pointer-events: auto;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}
label {
  margin-left: auto;
}
#selected-time, #any-time {
  display: block;
}
#any-time {
  color: #888;
  font-style: italic;
}
